@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 142.4 61.2% 20%;

    --muted: 140 40% 96.1%;
    --muted-foreground: 142.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 142.4 61.2% 20%;

    --border: 142.4 31.8% 91.4%;
    --input: 142.4 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 142.4 61.2% 20%;

    --primary: 142.4 61.2% 20%;
    --primary-foreground: 140 40% 98%;

    --secondary: 140 40% 96.1%;
    --secondary-foreground: 142.4 61.2% 20%;

    --accent: 140 40% 96.1%;
    --accent-foreground: 142.4 61.2% 20%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 140 40% 98%;

    --ring: 142.4 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 78% 3%;
    --foreground: 142 70% 85%;

    --muted: 142 47% 11%;
    --muted-foreground: 142.4 16.3% 56.9%;

    --accent: 142 34% 17%;
    --accent-foreground: 140 40% 98%;

    --popover: 220 78% 3%;
    --popover-foreground: 142 70% 85%;

    --border: 142 34% 17%;
    --input: 142 34% 17%;

    --card: 220 78% 3%;
    --card-foreground: 142 70% 85%;

    --primary: 140 40% 98%;
    --primary-foreground: 142.4 61.2% 20%;

    --secondary: 142.4 61.2% 20%;
    --secondary-foreground: 140 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 140 40% 98%;

    --ring: 142 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  /* Media query for dark mode */
  @media (prefers-color-scheme: dark) {
    .dark-mode .apexcharts-text {
      fill: #d1fae5;
    }
    .dark-mode .apexcharts-tooltip,
    .dark-mode .apexcharts-tooltip-title {
      background-color: #1a2e22 !important;
      color: #d1fae5 !important;
      border: 1px solid #2d4b3c !important;
    }
    .dark-mode .apexcharts-legend-text {
      color: #d1fae5 !important;
      border: 1px solid #2d4b3c !important;
    }
  }
}
